<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Sklad</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>application.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMain</display-name>
    <servlet-name>ServletMain</servlet-name>
    <servlet-class>application.ServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMain</servlet-name>
    <url-pattern>/ServletMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tovar</display-name>
    <servlet-name>Tovar</servlet-name>
    <servlet-class>application.Tovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tovar</servlet-name>
    <url-pattern>/Tovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dodavatelia</display-name>
    <servlet-name>Dodavatelia</servlet-name>
    <servlet-class>application.Dodavatelia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dodavatelia</servlet-name>
    <url-pattern>/Dodavatelia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Distribucie</display-name>
    <servlet-name>Distribucie</servlet-name>
    <servlet-class>application.Distribucie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Distribucie</servlet-name>
    <url-pattern>/Distribucie</url-pattern>
  </servlet-mapping>
</web-app>